/* Css Variables */
:root {
    --mainColor: #0075FF;
    --blueTrasn: #CCE3FF;
    --secondaryColor: #EEEEEE;
    --mainTextColor: #9B918E;
    --dashBack: #F1F5F9;
    --yellowColor: #F59E0B;
    --yellowTrans: #FDECCE;
    --greenColor: #22C55E;
    --greenTrans: #D3F3DF;
    --redColor: #F44336;
    --mainBorderRaduis: 10px;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--secondaryColor);
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
}
/* Media Queries
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} 
body {
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.special-1 {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}
.special-2 {
    color: var(--mainTextColor);
    padding: 10px 0;
}
.heading {
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    font-size: 25px;
}
.heading::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    bottom: 0;
}
.heading::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 4px;
    background: black;
    bottom: 0;
    left: 0;
}
.error {
    background-color: var(--secondaryColor);
    color: white;
    display: flex;
    width: 71px;
    padding: 3px 5px;
    align-self: center;
    border-radius: 15px;
    position: relative;
    transition: 1s;
}
.error::before {
    content: '\f057';
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
.checked {
    background-color: var(--mainColor);
    color: white;
    display: flex;
    width: 71px;
    justify-content: flex-end;
    padding: 3px 5px;
    align-self: center;
    border-radius: 15px;
    transition: 1s;
}
.checked::before {
    content: '\f058';
    font-family: 'Font Awesome 5 Free';
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}
/* CSS Element Styling */
.container {
    display: flex;
    width: 100%;
}
nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px -15px 4px 0px #f2eded;

    height: 100%;
    position: relative;
}
nav #skip {
    border: 1px solid var(--secondaryColor);
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: none;
}
@media (max-width: 991px) {
    nav #skip {
        display: block;
    }
}
@media (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
nav .logo {
    margin-bottom: 30px;
    font-size: 30px;
    position: relative;
    width: fit-content;
    font-weight: 400;
    letter-spacing: -1px;
    align-self: center;
}
.logo::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    background-color: black;
    height: 2px;
    bottom: -10px;
    left: -5px;
}
.logo::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid white;
    bottom: -16px;
    left: calc(100% / 2);
    margin-left: -6px; 
}
nav ul {
    list-style: none;
    /* display: flex;
    flex-direction: column; */
}
nav ul li {
    /* padding: 10px 50px 10px 10px; */
    display: flex;
    /* align-items: center; */
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

nav ul .active {
    background-color: #F6F6F6;
}
nav ul li:hover {
    background-color: #F6F6F6;
}
nav ul li a {
    color:black;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}
nav ul li a i {
    padding: 10px;
    width: 40px;
}
@media (max-width: 991px) {
    nav {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100vh;
    display: none;
    }
}
/* End Navbar */
/* Start content */
.content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    width: 100%;
}
.content::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--dashBack);
    position: absolute;
    z-index: -1;
    top: 70px;
    left: 0;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 14px 0px;
    height: 70px;    
}
.search > i {
    display: none;
    font-size: 20px;
    padding: 10px;
    color: var(--mainTextColor);
    border: 1px solid var(--secondaryColor);
}
@media (max-width: 991px) {
    .search > i {
        display: block;
    }
}
.search .icon {
    border: 1px solid var(--mainTextColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.search .icon i {
    padding-left: 5px;
    color: var(--mainTextColor);
}
.search input[type="search"] {
    border: none;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.search input[type="search"]:focus {
    outline: none;
}
.search .person {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.search .person i {
    font-size: 20px;
}

.search .person img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.profile .user {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background: white;
    border-radius: var(--mainBorderRaduis);
}
@media (max-width: 768px) {
    .profile .user {
        flex-direction: column;
    }
    .profile .user .user-left {
        padding-top: 20px;
    }
    
}
.profile .user-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    border-right: 2px solid var(--secondaryColor);
}
.profile .user-left img {
    width: 150px;
}
.profile .user-left p {
    padding: 14px;
    font-weight: bold;
    font-size: 18px;
}
.profile .user-left span:nth-child(3) {
    color: var(--mainTextColor);
    padding-bottom: 10px;
    font-size: 18px;
}
.profile .user-left .progress {
    width: 70%;
    background: var(--blueTrasn);
    height: 7px;
    border-radius: var(--mainBorderRaduis);
    position: relative;
    overflow: hidden;
}
.profile .user-left .progress span {
    display: inline-block;
    width: 76%;
    height: 100%;
    background: var(--mainColor);
    position: absolute;
}
.profile .user-left .stars {
    color: var(--yellowColor);
    margin: 10px 0;
}
.profile .user-left .rating {
    color:var(--mainTextColor);
    font-size: 14px;
}
.profile .user-right {
    width: 100%;
    padding: 0 10px;
}
.profile .user-right > div {
    padding: 10px 0;
    border-bottom: 1px solid var(--secondaryColor);
}
.profile .user-right > div p{
    padding: 10px 0;
    color: var(--mainTextColor);
}
.profile .user-right > div .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
@media (width < 767px) {
    .profile .user-right > div .text {
     flex-direction: column;
}   
.profile .user-right > div p {
    text-align: center;
}
}
.profile .user-right > div .text > div {
    /* padding: 0 20px 10px 0; */
}
.profile .user-right > div .text > div p {
    color: var(--mainTextColor);
    font-size: 14px;
}
.profile .user-right > div .text > div span {
    color: black;
}
.profile .skills {
    display: flex;
    margin-top: 30px;
}
@media (max-width: 768px) { 
    .profile .skills {
        flex-direction: column;
        align-items: center;
    }
}
.profile .skills .my-skills {
    width: 400px;
    background-color: white;
    border-radius: var(--mainBorderRaduis);
    padding: 20px;
}
@media (max-width: 768px) { 
    .profile .skills .my-skills {
        width: 100%;;
    }
}
.profile .skills ul li:not(li:last-child) {
    border-bottom: 2px solid var(--secondaryColor);
}
.profile .skills ul li {
    padding: 20px 0;
}
.profile .skills ul li span {
    background-color: var(--secondaryColor);
    padding: 5px 10px;
    border-radius: var(--mainBorderRaduis);
    margin-left: 10px;
    font-size: 14px;
}
.profile .skills .activites {
    background-color: white;
    border-radius: var(--mainBorderRaduis);
    padding: 20px;
    width: 100%;
    margin-left: 30px;
}
@media (max-width: 768px) { 
    .profile .skills .activites {
        margin: 20px 0;
    }
}
.skills .activites .shop .left-side {
    display: flex;
    align-items: center;
    padding: 15px 0;
}
.skills .activites .shop .left-side:not(.left-side:last-child) {
    border-bottom: 2px solid var(--secondaryColor);
}
.skills .activites .shop .left-side img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border-radius: 50%;
}
.skills .activites .shop .left-side .text {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.skills .activites .shop .left-side .text .l p,
.skills .activites .shop .left-side .text .r p {
    font-weight: 600;
    padding-bottom: 10px;
}
.skills .activites .shop .left-side .text .l span,
.skills .activites .shop .left-side .text .r span {
    font-size: 16px;
}