/* Css Variables */
:root {
    --mainColor: #0075FF;
    --blueTrasn: #CCE3FF;
    --secondaryColor: #EEEEEE;
    --mainTextColor: #9B918E;
    --dashBack: #F1F5F9;
    --yellowColor: #F59E0B;
    --yellowTrans: #FDECCE;
    --greenColor: #22C55E;
    --greenTrans: #D3F3DF;
    --redColor: #F44336;
    --fontWeight: 600;
    --borderRadius: 10px;

}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
input:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--secondaryColor);
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
}
/* Media Queries
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} 
body {
    font-family: "Open Sans", sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.heading {
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    font-size: 25px;
}
.heading::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: white;
    bottom: 0;
}
.heading::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 4px;
    background: black;
    bottom: 0;
    left: 0;
}
.special-1 {
    font-weight: bold;
    font-size: 22px;
}
.special-2 {
    color: var(--mainTextColor);
    padding: 10px 0;
}
/* CSS Element Styling */
.container {
    display: flex;
    width: 100%;
}
nav {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px -15px 4px 0px #f2eded;
    /* position: sticky;
    top: 0; */
    height: 100%;
    position: relative;
}
nav #skip {
    border: 1px solid var(--secondaryColor);
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: none;
}
@media (max-width: 768px) {
    nav #skip {
        display: block;
    }
}
/* nav::before {
    content: '\f410';
    font-family: 'Font Awesome 5 Free';
    position: absolute;
} */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}
nav .logo {
    margin-bottom: 30px;
    font-size: 30px;
    position: relative;
    width: fit-content;
    font-weight: 400;
    letter-spacing: -1px;
    align-self: center;
}
.logo::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    background-color: black;
    height: 2px;
    bottom: -10px;
    left: -5px;
}
.logo::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    border: 3px solid white;
    bottom: -16px;
    left: calc(100% / 2);
    margin-left: -6px; 
}
nav ul {
    list-style: none;
    /* display: flex;
    flex-direction: column; */
}
nav ul li {
    /* padding: 10px 50px 10px 10px; */
    display: flex;
    /* align-items: center; */
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

nav ul .active {
    background-color: #F6F6F6;
}
nav ul li:hover {
    background-color: #F6F6F6;
}
nav ul li a {
    color:black;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10px;
}
nav ul li a i {
    padding: 10px;
    width: 40px;
}
@media (max-width: 768px) {
    nav {
    text-align: center;
    display: flex;
    width: 100%;
    height: 100vh;
    display: none;
    }
}
/* End Navbar */
/* Start content */
.content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    position: relative;
    width: 100%;
}
.content::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--dashBack);
    position: absolute;
    z-index: -1;
    top: 70px;
    left: 0;
}
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 14px 0px;
    height: 70px;    
}
.search > i {
    display: none;
    font-size: 20px;
    padding: 10px;
    color: var(--mainTextColor);
    border: 1px solid var(--secondaryColor);
}
@media (max-width: 768px) {
    .search > i {
        display: block;
    }
}
.search .icon {
    border: 1px solid var(--mainTextColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.search .icon i {
    padding-left: 5px;
    color: var(--mainTextColor);
}
.search input[type="search"] {
    border: none;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}

.search input[type="search"]:focus {
    outline: none;
}
.search .person {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.search .person i {
    font-size: 20px;
}

.search .person img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
/* End Search */
/* Start Dashboard */ 

.dashboard > h1 {
    width: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    font-size: 25px;
}
.dashboard > h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: white;
    bottom: 0;
}
.dashboard > h1::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 5px;
    background: black;
    bottom: 0;
    left: 0;
}
.dashboard .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}
.dashboard .boxes .box {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: white;
}
.boxes .box.box-1 .control {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    /* background-color: red; */
}
.boxes .box.box-1 .control .text p {
    font-weight: var(--fontWeight);
    padding-bottom: 10px;
}
.error {
    background-color: var(--secondaryColor);
    color: white;
    display: flex;
    width: 71px;
    padding: 6px 5px;
    align-self: center;
    border-radius: 15px;
    position: relative;
    transition: 1s;
}
.error::before {
    content: '\f057';
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}
.checked {
    background-color: var(--mainColor);
    color: white;
    display: flex;
    width: 71px;
    justify-content: flex-end;
    padding: 6px 5px;
    align-self: center;
    border-radius: 15px;
    transition: 1s;
}
.checked::before {
    content: '\f058';
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.box.box-1 textarea {
    resize: none;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
}
.box.box-1 textarea:focus {
    outline: none;
}
.box.box-3 form {
    display: flex;
    flex-direction: column;
}
.box.box-3 form label {
    color: var(--mainTextColor);
    padding-bottom: 10px;
}
.box.box-3 form input {
    margin-bottom: 15px;
    padding: 10px;
    color: var(--mainTextColor);
    border-radius: var(--borderRadius);
    border: 1px solid var(--secondaryColor);
}
.box.box-3 form input:focus {
    outline: none;
}
.box.box-3 :disabled {
    cursor: no-drop;
}
.box.box-3 form .change {
    display: flex;
    justify-content: space-between;
}
.box.box-3 form .change .top {
    display: flex;
    flex-direction: column;
    flex-basis: 83%;
}
.box.box-3 form .change > input {
    border: none;
    color: var(--mainColor);
    background: none;
    font-weight: var(--fontWeight);
    font-size: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
 }

 .box.box-4 .security {
    display: flex;
    flex-direction: column;
}
 .box.box-4 .security > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 25px;
 }
  .box.box-4 .security > div:not(div:last-child) {
    border-bottom: 1px solid var(--secondaryColor);
  }
.box.box-4 .security > div .text p {
    font-weight: var(--fontWeight);
    padding-bottom: 10px;
}
.box.box-4 .security > div .text span {
    color: var(--mainTextColor);
    font-size: 14px;
}
 .box.box-4 .security div:nth-child(1) button {
    background-color: var(--mainColor);
    color: white;
    border-radius: var(--borderRadius);
    padding: 2px 10px;
    display: inline-block;
    border: none;
 }
 .box.box-4 .security div:nth-child(3) button {
    background-color: var(--secondaryColor);
    border-radius: var(--borderRadius);
    padding: 2px 10px;
    display: inline-block;
    border: none;
 }
.box.box-2 .social {
    display: flex;
    border: 2px solid var(--secondaryColor);
    margin: 15px 0;
    background-color: #F6F6F6;
    border-radius: var(--borderRadius);
    color: var(--mainTextColor);
}
.box.box-2 .social input {
    border: none;
    background-color: #F6F6F6;
    padding: 15px;
    flex-basis: 100%;
}
.box.box-2 .social i {
    padding: 15px;
    color: #888888;
    border-right: 2px solid var(--secondaryColor);
    width: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    transition: .3s;
}
.box.box-2 .social:focus-within i  {
    color: black;
}

/* .box.box-5 form {
    display: flex;
    flex-direction: column;
} */
.box.box-5 form > div {
    margin: 10px 0;
    display: flex;
}
.box.box-5 form > div label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.box.box-5 form > div label::before {
    content: '';
    width: 16px;
    display: inline-block;
    height: 16px;
    border: 2px solid var(--secondaryColor);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    transition: .3s;
}
.box.box-5 form > div label:hover:before {
    border: 2px solid var(--mainColor);
}
.box.box-5 form > div label::after {
    content: '\f00c';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 0;
    background: var(--mainColor);
    color: white;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    height: 20px;
    transform: scale(0);
    font-size: 14px;
    margin-top: -10px;
    transition: .3s;
}
.box.box-5 form > div input:checked + label::after {
    transform: scale(.8) rotate(1turn);
}
.box.box-5 form > div input {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.box.box-6 > div {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.box.box-6 > div label {
    /* margin-left: 10px; */
    cursor: pointer;
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.box.box-6 > div label::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid var(--secondaryColor);
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    transition: .3s;
}
.box.box-6 > div label:hover:before {
    border: 2px solid var(--mainColor);
}
.box.box-6 > div label::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--mainColor);
    border-radius: 50%;
    transform: scale(0);
    transition: .3s;
    left: 6px;
    top: 50%;
    margin-top: -4px;
}
.box.box-6 > div input:checked + label::after {
    transform: scale(.8) rotate(1turn);
}
.box.box-6 > div input {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    display: none;
}
.box.box-6 > div input {
    width: 15px;
    height: 15px;
}
.box.box-6 ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}
@media (width < 767px) {
    .box.box-6 ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.box.box-6 ul li {
    padding: 23px 29px;
    width: 164px;
    text-align: center;
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    transition: .3s;
}
.box.box-6 ul li:not(li.blue) {
    border: 2px solid var(--secondaryColor);

}
.box.box-6 ul li i {
    padding-bottom: 10px;
    font-size: 20px;
}
.blue {
    color: var(--mainColor);
    border: 2px solid var(--mainColor);

}